
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a style="font-size: 25px" class="navbar-brand" href="/">
        <strong>Todos - App</strong>
     </a>
   </div>

    <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
              <% if has_role?(:admin) %>
                    <li style="font-size: 15px"><%= link_to 'Manage All Task', profiles_path %> </li>
              <% else %>
                <% if current_user.profile == nil %>
                      <li style="font-size: 15px"><%= link_to 'Create Your Task', new_profile_path %></li>
                <% else %>
                    <li style="font-size: 15px"><%= link_to 'Your Task', current_user.profile%> </li>
                <% end %>
                <li style="font-size: 15px"><%= link_to 'My account', edit_user_registration_path %></li><!-- <li class="divider"></li> -->
                <li style="font-size: 15px"><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>              
                </ul>
              </li>
            
              <% else %>
                  <li style="font-size: 15px"><%= link_to 'Sign in', new_user_session_path %></li>
                  <li style="font-size: 15px"><%= link_to 'Sign up', new_user_registration_path %></li>
              <% end %>
          <% end %>    
    </ul>
  </div>
</nav>